<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <h4>Devour your favorite burger</h4>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h4>Devoured</h4>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>