<h1>Eat-Da-Burger</h1>

<h2>Devour your favorite burger.</h2>

<h2>Order a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name</label>
        <input type="text" id="burger" name="burger_name">
    </div>

    <button type="submit">Submit</button>
</form>